header.navbar {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0,0,0,0.50);
  border: 0;
}

#block-customthem-main-menu {
  display: flex;
  justify-content: flex-end;

  li a {
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 15px;
    // transition: all 0.2s ease-in-out;

    &:hover {
      color: #4bcaff;
      border: 2px solid #4bcaff;
      padding: 13px;
    }

    &.is-active {
      background-color: unset;
      color: #4bcaff;
      border: 2px solid #4bcaff;
      padding: 13px;
      text-align: center;
    }
  }
}

.navbar-collapse {
  flex: 1 1 auto;
}

body.navbar-is-fixed-top {
  margin-top: 0;
}

@media(max-width: 768px) {
  header.navbar {
    height: 90px;
  }

  header .container-fluid {
    margin: unset;
    padding: unset;

    .container {
      position: fixed;
      width: 100%;
      top: 20px;
    }
  }

  #block-customthem-main-menu {
    justify-content: center;
  }

  .collapse.in {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    right: 15px;
    top: 60px;
    padding: 20px;
    width: 100%;
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .region-navigation {
      flex: 1 1 auto;
    }
  }
}
