.block-views-blockcomments-block-1 {
  padding: 80px 0;

  .block-title {
    color: #515f67;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 48px;
      background-color: #515f67;
      bottom: -10px;
    }
  }

  .views_slideshow_cycle_slide {
    background-color: unset !important;
    color: #515f67;

    .views-field-body {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .views-field-field-author {
      color: #4bcaff;
      font-weight: 600;
      font-size: 14px;
    }
  }
}