#block-twitter {
  padding: 80px 0;
  background-color: #4bcaff;
  color: #fff;


  .block-title {
    position: relative;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 48px;
      background-color: white;
      bottom: -10px;
    }
  }
}